.card-action {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 2rem;
}

.card-action img {
    width: 100%;
    border-radius: 50%;;
}

/* .post-like-icon,
.post-comment-icon,
.post-share-icon {
	font-size: 2rem;
	color: var(--secondary-text-color);
} */
