.post-image {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
}

.post-content {
    font-size: 1.2rem;
    font-weight: 400;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    padding: 0.5rem;
    color: var(--primary-text-color);
}