.post-board {
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .post-board {
        width: 100%;
        padding: 0 0.5rem;
    }
}

@media screen and (min-width: 700px) {
    .post-board {
        width: 75%;
    }
}

@media screen and (min-width: 1000px) {
    .post-board {
        width: 50%;
    }
}