* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Roboto", sans-serif;

  --border-radius: 15px;

  --primary-color: rgb(56, 176, 0);
  --primary-color-light:rgba(56, 176, 0, 0.5);
  --primary-text-color: black;
  --secondary-text-color: rgba(0, 0, 0, 0.5);
  --light-gray: rgba(0,0,0,0.3);
  --extra-light-gray: rgba(0,0,0,0.1);
  --background-color: white;
  --disabled-background-color: rgba(0,0,0,0.5);

  --danger-color: red;
  --warning-color: orange;
  --success-color: green;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
