.profile-page-pfp {
	width: 15rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: calc(var(--profile-page-pfp-size) * -0.5);
	transform: translateX(-50%);
	border: var(--standard-gap) solid white;
}
