.hiden-file-input {
	display: none;
}

.file-input {
	height: 100%;
	min-height: 15rem;
	display: flex;
}

.fake-file-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.file-preview {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.file-preview img {
	max-width: 100%;
	max-height: 100%;
	border-radius: var(--border-radius);
	object-fit: contain;
}

.post-file-x {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--danger-color);
}

.post-file-x:active {
	transform: scale(0.9);
}
