.pass-input-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%; 			/* This is some new change */
}

.fa-regular.fa-eye,
.fa-regular.fa-eye-slash {
	align-self: flex-end;
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: rgba(0,0,0,0.3);
	font-size: 1.3rem;
	cursor: pointer;
}

.fa-regular.fa-eye-slash {
    right: 0.91rem;
}
