.pass-input-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%; 			/* This is some new change */
}

.pass-info, .pass-check {
	align-self: flex-end;
	position: absolute;
	right: 2rem;
	top: 2.7rem;
	background-color: var(--background-color);
	padding: 0 0.3rem;
	border-radius: 999px;
}

.pass-info {
	font-weight: 500;
}

.pass-info-danger {
	color: var(--danger-color);
}

.pass-info-warning {
	color: var(--warning-color);
}

.pass-info-success {
	color: var(--success-color);
}

.pass-eye,
.pass-eye-cross {
	align-self: flex-end;
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: rgba(0,0,0,0.3);
	font-size: 1.3rem;
	cursor: pointer;
}

.pass-eye-cross {
    right: 0.91rem;
}

.pass-check {
	font-size: 1.3rem;
	top: 2.5rem;
	color: var(--success-color)
}
