.pfp-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fake-pfp-input {
    display: none;
}

.pfp-image {
    border: 3px solid var(--primary-color);
    border-radius: 9999px;
    width: 200px;
    box-shadow: 0 0 50px -15px var(--primary-color);
}

.pfp-plus-icon {
    font-size: 2rem;
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-color);
    color: white;
    padding: 0 0.2em;
    border-radius: 999px ;
}