.pfp-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fake-pfp-input {
    display: none;
}

.pfp-image {
    border: 3px solid var(--primary-color);
    border-radius: 9999px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 50px -18px var(--primary-color);
}

.pfp-pencil-icon {
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 999px;
    padding: 0.4em;
}