.input {
	border: none;
	outline: none;
	padding: 0.5em 1em;
	font-size: 1.5rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05), 0 0 15px inset rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	/* margin-bottom: 1rem; */
	color: var(--secondary-text-color);
	width: 100%; /* This is some new change */
}

.mb-1 {
	margin-bottom: 1rem;
}

.input:focus {
	color: var(--primary-text-color);
	outline: 2px solid var(--primary-color);
}

.input::placeholder {
	color: rgba(0, 0, 0, 0.2);
}
