.create-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.create-button {
    align-self: end;
}

.fake-create-submit-button {
    display: none;
}