.main-content {
    background-color: white;
    width: 100%;
    padding-top: 2rem;
    box-shadow: 0 -10px 30px -17px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
    position: relative;
}

@media screen and (min-width: 425px) {
    .main-content {
        top: 9rem;
    }
}

@media screen and (min-width: 700px) {
    .main-content {
        top: 11rem;
    }
}

@media screen and (min-width: 1000px) {
    .main-content {
        top: 13rem;
    }
}




