.home-container h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin: 2rem 0;
}

.main-content {
    width: 100%;
    padding-top: 2rem;
    box-shadow: 0 -10px 30px -17px rgba(0, 0, 0, 0.25);
}


