.message-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--standard-gap);
	padding: 0 var(--gap-from-bazel);
	padding-bottom: var(--gap-from-bazel);
}

@media screen and (max-width: 1000px) {
	.message-hiden {
		display: none;
	}
}
