/* .own-container {
    padding: var(--standard-gap);
    display: flex;
    flex-direction: row;
    gap: var(--standard-gap);
} */

.own-container {
    display: grid;
    gap: var(--standard-gap);
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--standard-gap);
}

@media screen and (max-width: 1000px) {
    .own-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .own-container {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (min-width: 1200px) {
    .own-container {
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (min-width: 1400px) {
    .own-container {
        grid-template-columns: 1fr 4fr;
    }
}

@media screen and (min-width: 1600px) {
    .own-container {
        grid-template-columns: 1fr 5fr;
    }
}
