.profile-main-wrapper {
	width: 100%;
	background-color: var(--background-color);
	position: relative;
}

.profile-main {
	--profile-page-pfp-size: 15rem;

	padding-top: calc(var(--profile-page-pfp-size) / 2);
	margin: 0 auto;
	margin-top: var(--page-head-height);
}

.profile-page-pfp {
	width: 15rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: calc(var(--profile-page-pfp-size) * -0.5);
	transform: translateX(-50%);
	border: var(--standard-gap) solid white;
}

@media screen and (max-width: 1000px) {
	.profile-hiden {
		display: none;
	}

	.profile-main {
		width: 100%;
		padding: 0 var(--gap-from-bazel);
	}
}

@media screen and (min-width: 1000px) {
	.profile-main {
		width:70%;
	}
}

@media screen and (min-width: 2000px) {
	.profile-main {
		width: 40%;
	}
}
