.profile-container {
	width: 100%;
}

.profile-main-wrapper {
	width: 100%;
	background-color: var(--background-color);
	position: relative;
	top: var(--page-head-height);
	display: flex;
	flex-direction: column;
	gap: var(--standard-gap);
}

.profile-main {
	--profile-page-pfp-size: 15rem;

	padding-top: calc(var(--profile-page-pfp-size) / 2);
	margin: 0 auto;
}

@media screen and (max-width: 1000px) {
	.profile-hiden {
		display: none;
	}

	.profile-main {
		width: 100%;
		padding: 0 var(--gap-from-bazel);
		padding-top: calc(var(--profile-page-pfp-size) / 2);
	}
}

@media screen and (min-width: 1000px) {
	.profile-main {
		width:70%;
	}
}

@media screen and (min-width: 2000px) {
	.profile-main {
		width: 40%;
	}
}
