.show-container {
    --show-head-height: 20vh;
}

.show-main-content {
    background-color: white;
    width: 100%;
    padding: 1rem var(--gap-from-bazel);
    box-shadow: 0 -10px 30px -17px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
    position: relative;
    top: var(--show-head-height);
}

.show-main-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 1rem;
}

.show-main-grid > * {
    justify-self: center;
}

@media screen and (max-width: 1500px) {
    .show-main-grid {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

@media screen and (max-width: 1500px) {
    .show-main-grid {
        grid-template-columns: 1fr; 
        width: 70%;
        margin: 0 auto;
    }

    .show-main-grid > :nth-child(1),
    .show-main-grid > :nth-child(3) {
        display: none; 
    }   
}

@media screen and (max-width: 1000px){
    .show-main-grid {
        width: 100%
    }
} 