.show-container {
    --show-head-height: 20vh;
}

.show-main-content {
    background-color: white;
    width: 100%;
    padding-top: 2rem;
    box-shadow: 0 -10px 30px -17px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
    position: relative;
    top: var(--show-head-height)
}