.description-card {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background-color: var(--extra-light-gray);
	padding: 1rem;
    border: 2px solid var(--secondary-text-color);
	border-radius: var(--border-radius);
	text-align: justify;
	letter-spacing: 0.05em;
    color: var(--secondary-text-color);
    line-height: 1.3;
}

.description-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.description-card p {
	overflow: auto;
	padding: 0 1rem;
}

.desc-x {
	display: none;
	position: absolute;
	top: 0rem;
	right: -4rem;
	font-size: 3rem;
	color: white;
	cursor: pointer;
}

.desc-x:active {
    transform: scale(0.9);
}

.description-card p::-webkit-scrollbar {
    width: 0.7rem; 
    height: 0.7rem;
}


.description-card p::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}

.description-card p::-webkit-scrollbar-thumb {
    background: var(--light-gray); 
    border-radius: 999px; 
}

.description-card p::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

@media screen and (max-width: 1500px) {
	.description-card {
		position: absolute;
		width: 50%;
		height: fit-content;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        background-color: var(--background-color);
        border: none;
		font-size: 1.5rem;
	}

	.description-card h3 {
		font-size: 2rem;
	}

	.description-card p {
		max-height: 50vh;
	}

	.desc-x {
		display: block;
	}
}

@media screen and (max-width: 1000px) {
    .description-card {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    .description-card {
        width: 97%;
    }

	.desc-x {
		top: -4rem;
		right: 1rem;
	}
}
