.description-card {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: var(--background-color);
	padding: 1rem;
	border-radius: var(--border-radius);
	text-align: justify;
	letter-spacing: 0.05em;
    color: var(--secondary-text-color);
    line-height: 1.3;
}

.desc-x {
	display: none;
	position: absolute;
	top: -4rem;
	right: 0rem;
	font-size: 3rem;
	color: white;
	cursor: pointer;
}

.desc-x:active {
    transform: scale(0.9);
}

@media screen and (max-width: 1500px) {
	.description-card {
		position: absolute;
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.desc-x {
		display: block;
	}
}
