.comment-section {
    width: 40%;
    height: 70%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.comment-section-x {
    position: absolute;
    top: 0;
    right: -4rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.comment-section-x:active {
    transform: scale(0.9);
}

.comments {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    padding: 0 1rem;
}

.comments::-webkit-scrollbar {
    width: 0.7rem; 
    height: 0.7rem;
}


.comments::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}

.comments::-webkit-scrollbar-thumb {
    background: var(--light-gray); 
    border-radius: 999px; 
}

.comments::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.comment {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    text-align: justify;
}

.comment-author {
    font-weight: 500;
}

@media screen and (max-width: 1600px) {
    .comment-section {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .comment-section {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    .comment-section {
        width: 97%;
        height: 80%;
        transform: translate(-50%, -1%);
        top: auto;
        bottom: 0;
    }

    .comment-section-x{
        top: -4rem;
        right: 1rem;
        font-size: 3rem;
    }

    .comments::-webkit-scrollbar {
        display: none;
    }
}


