.comment-section {
    width: 40%;
    height: 70%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.comment-section-x {
    position: absolute;
    top: 0;
    right: -3rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    border-radius: var(--border-radius);
}

.comments::-webkit-scrollbar {
    width: 0.7rem; 
}


.comments::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}

.comments::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color); 
    border-radius: 999px; 
}

.comments::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.comment {
    font-size: 1.5rem;
    font-weight: 300;
}