.comment-section {
    width: 40%;
    height: 70%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
}

.comment-section-x {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--secondary-text-color);
    cursor: pointer;
}