.adventurer {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}

.adv-card-pfp {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.leader-crown {
    color: gold;
    margin-left: 0.5rem;
}