.adventurers-card {
    box-shadow: var(--shadow-info);
    background-color: var(--extra-light-gray);
    color: var(--secondary-text-color);
    border: var(--border-info);
    border-radius: var(--border-radius);
    padding: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.3;
    width: fit-content;
}

.adventurers-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.adventurers {
    overflow: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.advs-x {
	display: none;
	position: absolute;
	top: 0rem;
	right: -4rem;
	font-size: 3rem;
	color: white;
	cursor: pointer;
}

.advs-x:active {
    transform: scale(0.9);
}

.adventurers::-webkit-scrollbar {
    width: 0.7rem; 
    height: 0.7rem;
}


.adventurers::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}

.adventurers::-webkit-scrollbar-thumb {
    background: var(--light-gray); 
    border-radius: 999px; 
}

.adventurers::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

@media screen and (max-width: 1500px) {
	.adventurers-card {
		position: absolute;
		width: fit-content;
        height: fit-content;
        max-width: 97%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        background-color: var(--background-color);
        border: none;
	}

    .adventurers-card h3 {
        font-size: 2rem;
    }

    .adventurers {
        max-height: 50vh;
        font-size: 1.5rem;
    }

	.advs-x {
		display: block;
	}
}

@media screen and (max-width: 700px){
    .advs-x {
        top: -4rem;
        right: 1rem;
    }

    .adventurers-card {
        width: 97%;
    }

    .adventurers::-webkit-scrollbar {
		display: none;
	}
}