.button1 {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5em 1em;
    border-radius: 999px;
    box-shadow: 0 0 20px var(--primary-color);
    text-align: center;
}

.button1.btn-fit-content {
    width: fit-content;
    height: fit-content;
}

.button1.btn-small {
    font-size: 0.8rem;
}

.button1.btn-big {
    font-size: 1.5rem;
}

.button1.btn-info {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: none;
}

.button1:hover {
    cursor: pointer;
}

.button1:active {
    transform: scale(0.95);
}