.button1 {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5em 1em;
    border-radius: 999px;
    box-shadow: 0 0 20px var(--primary-color);
    width: fit-content;
}

.button1:hover {
    cursor: pointer;
}

.button1:active {
    transform: scale(0.95);
}