.like-icon {
	font-size: 2rem;
	color: var(--secondary-text-color);
	cursor: pointer;
}

.like-icon:active, .like-icon-clicked:active {
	transform: scale(1.1);
}

.like-icon-clicked {
    color: red;
}