.options-button {
    cursor: pointer;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-button-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-text-color);
}