.x-button {
    position: absolute;
    top: 0;
    right: -4rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.x-button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 700px) {
    .x-button{
        top: -4rem;
        right: 1rem;
        font-size: 3rem;
    }
}