.response-info {
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	padding: 0.5em;
	margin: 0 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: var(--border-radius);
	box-shadow: 0 0 10px var(--primary-color);

	opacity: 0.75;
}

@media screen and (min-width: 1000px) {
	.response-info {
        position: relative;
        max-width: 600px;
        left: 50vw;
        transform: translateX(-50%);
	}
}
