.profile-head {
    position: relative;
    height: var(--page-head-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-head-rounded {
    border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.profile-head h1 {
	color: white;
	position: absolute;
	bottom: 0;
    left: 0;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0.1em;
}

.profile-head img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}