.show-head {
    height: var(--show-head-height);
    position: fixed;
}

.show-head img {
    object-fit: cover;
    height: 100%;
    width: 100vw;
    filter: brightness(50%);
}

.show-head h1 {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.1em;
}
