.show-head {
	height: var(--page-head-height);
	position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-head img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	filter: brightness(50%);
}

.show-head h1 {
	color: white;
	position: absolute;
	bottom: 0;
    left: 0;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0.1em;
}

.show-head-rounded {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}
