.show-options-container {
    background-color: var(--disabled-background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.show-options {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--standard-gap);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.show-options-item {
    font-size: var(--bigger-font-size);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.show-options-item-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-options-leave-icon, .show-options-trash-icon {
    color: var(--danger-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.show-options-leave-icon:active, .show-options-trash-icon:active {
    transform: scale(0.9);
}

@media screen and (max-width: 700px){
    .show-options {
        width: 97%;
    }
}

@media screen and (min-width: 700px){
    .show-options {
        width: 50%;
    }
}

@media screen and (min-width: 1500px){
    .show-options {
        width: 30%;
    }
}