.show-main-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--standard-gap);
    padding-top: var(--standard-gap);
    flex-wrap: wrap;
}

.show-main-action-info {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
}

.desc-button, .adventurers-button, .applicants-button {
    display: none;
}

@media screen and (max-width: 1500px) {
    .desc-button, .adventurers-button, .applicants-button {
        display: block;
    }
}