.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--standard-gap);
}

.passwords {
    display: flex;
    gap: 1rem;
}

.reg-fake-button {
    display: none;
}

@media screen and (max-width: 1000px) {
    .passwords {
        flex-direction: column;
    }
}