.register-card {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

@media screen and (max-width: 700px) {
    .register-card {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 700px) {
    .register-card {
        width: 50vw;
    }
}

