.register-form {
    display: flex;
    flex-direction: column;
}

.register-button {
    margin-top: 1em;
}



.passwords {
    display: flex;
    gap: 1rem;
}

.register-button {
    margin-top: 1em;
}

.fake-button {
    display: none;
}

@media screen and (max-width: 1000px) {
    .passwords {
        flex-direction: column;
        gap: 0;
    }
}