.loader {
    border: 8px solid var(--extra-light-gray);
    border-top: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--secondary-text-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loader-small {
    border: 4px solid var(--extra-light-gray);
    border-top: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--secondary-text-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.loader-smaller {
    border: 6px solid var(--extra-light-gray);
    border-top: 6px solid var(--primary-color);
    border-bottom: 6px solid var(--secondary-text-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}

.loader-bigger {
    border: 10px solid var(--extra-light-gray);
    border-top: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--secondary-text-color);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
}

.loader-big {
    border: 12px solid var(--extra-light-gray);
    border-top: 12px solid var(--primary-color);
    border-bottom: 12px solid var(--secondary-text-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.loader-center {
    margin: 0 auto;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
