.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: var(--standard-gap);
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--standard-gap);
}

.message-own {
    flex-direction: row-reverse;
}

.message-pfp {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.message-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.message-name {

}

.message-name-own {
    text-align: right;
}

.message-content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: var(--standard-gap);
    border-radius: var(--border-radius);
    background-color: var(--extra-light-gray);
    /* color: var(--secondary-text-color); */
}

.message-content-own {
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width: 1000px) {
    .message-text {
        max-width: 70%;
    }
}